<robot name="mycar"
    xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- 传动实现:用于连接控制器与关节 -->
    <xacro:macro name="joint_trans" params="joint_name">
        <transmission name="${joint_name}_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${joint_name}">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
            <actuator name="${joint_name}_motor">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

    <!-- 每一个驱动轮都需要配置传动装置 -->
    <xacro:joint_trans joint_name="f_l_j" />
    <xacro:joint_trans joint_name="b_l_j" />
    <xacro:joint_trans joint_name="f_r_j" />
    <xacro:joint_trans joint_name="b_r_j" />

    <gazebo>
        <plugin name="mecanum_controller" filename="libgazebo_ros_planar_move.so">
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <leftFrontJoint>f_l_j</leftFrontJoint>
            <rightFrontJoint>f_r_j</rightFrontJoint>
            <leftRearJoint>b_l_j</leftRearJoint>
            <rightRearJoint>b_r_j</rightRearJoint>
            <odometryRate>1000</odometryRate>
            <robotBaseFrame>base_footprint</robotBaseFrame>
            <broadcastTF>1</broadcastTF>

            <cmdVelTimeOut>0.25</cmdVelTimeOut>
            <publishOdometryTf>0</publishOdometryTf>
            <yaw_velocity_p_gain>1000.0</yaw_velocity_p_gain>
            <x_velocity_p_gain>15000.0</x_velocity_p_gain>
            <y_velocity_p_gain>15000.0</y_velocity_p_gain>
            <max_x_velocity>10000000</max_x_velocity>
            <max_y_velocity>10000000</max_y_velocity>
            <max_yaw_velocity>1000</max_yaw_velocity>
        </plugin>
    </gazebo>

</robot>