<?xml version="1.0" ?>
<model>
    <name>robomaster2023_map_v1_0</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>黄沛鑫@HBUT</name>
        <email>2082672018@qq.com</email>
    </author>
    <description>The base map with 28*15*5</description>
</model>